*{
    margin: 0;
    padding: 0;
    }
    body{
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 20em; */
}

#titulo{
    border-radius: 0;
    margin: 0.06em 25em;
    width: 100%;
    height: 70%;
    display: block;
    display: grid;
}
#page_start{
    display: grid;
    grid-template-columns: 60% auto;
    /* border: 1px solid salmon; */
    color: white;
    width: 68.75em;
    height: 28.75em;
    margin: 0 5em;
}
#img_start{
    border-radius: 3em;
    width: 25.62em;
    height: 25.62em;
    text-align: center;
    justify-content: center;
    padding: 0.6em;
    margin: 1.87em 6.85em;
}
#p_intro{
    font-size: x-large;
    margin-top: 1em;
    padding: 4em 2.5em 0 0;
    text-align: center;
    justify-content: center;
}
#button_characteres{
    background: #f9bf1e;
    color: black;
    margin: 3em 2em 3em 3em;
    padding: 0.62em 3em;
    text-align: center;
    justify-content: center;
    border-radius: 5em;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
#button_characteres:hover{
background-color: #E4D33E;
color: brown;
transition: 0.1s;
opacity: 0.8;
}

#nav{
    margin: auto;
    width: 650px;
    padding-bottom: 150px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
 ul{
    list-style: none;
}
#bottons_navegation  li{
    float: left;
    min-width: 120px;
}
#bottons_navegation  li  a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    text-align: center;
    border: 5px solid darkcyan;
}
#bottons_navegation  li  a:hover{
    background-color: #62A4AB;
    opacity: 0.8 ;
    color: white;
    transition: 0.3s;
}
#bottons_navegation li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
#bottons_navegation li:hover ul{
    display: block;
}
#unfold_alphabet li{
    display: block;
    width: 73%;
}
#unfold_species li {
    display: block;
    width: 60%;
}

#screen1 {
    width: 90%;
    margin: auto;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
img{
    border-radius: 50%;
    width: 15vw;
    height: 25vh;
}
/* ------------ */
/* #div0{
overflow: hidden;
position: relative;
box-shadow: 5px white;
}
#div0 #description {
position: absolute;
top: 50%;
left: 50%;
backface-visibility: hidden;
} */
/* ---------- */
.character{
    flex-direction: column;
    background: aqua;
}
span{
    display: flex;
    justify-content: center;
    padding: 0em 0.31em 0.93em 0em;
    color: beige;
    text-align: center;
}
.control{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    object-fit: cover;
    padding: 0.62em;
    margin: 0.62em;
}
img#rigth {
    position: absolute;
    background: white;
    float: right;
    right: 5%;
}
#rigth:hover{
    background-color: #62A4AB;
    transition: 0.1s;
}
img#left {
    position: absolute;
    background: white;
    float: left;
    left: 5%;
}
#left:hover{
    background-color: #62A4AB;
    transition: 0.1s;
}
#caja_curious{
    background-image: url(portal.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    /* background: #62A4AB; */
    /* border: 2px solid rgb(131, 231, 198); */
    /* width: ; */
    padding: 4em 4em;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2em;
    width: 12em;
    height: 3em;
    font-weight: bolder;
    opacity: 0.9;
    text-shadow: 1px 1px 5px white;
}




/* medida para celular */
@media screen and (max-width: 576px){
    #page_start{
        display: grid;
        grid-template-columns: 90%;
        width: 0;
        justify-items: center;
        margin: 0 10em
    }
#img_start{
    /* margin: 2em 2em 0 2em; */
    margin: 2em 2em 0.5em 2em;
    padding: 2em;
    /* width: 15em;
    height: 15em; */
    width: 12em;
    height: 12em;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 20em; */
}
#titulo{
height: 100%;
width: 70%;
margin: 0; /* agregado*/
}
#p_intro{
font-size: 1em;
/* width: 15em; */
width: 12em;
text-align: justify;
padding: 0;
/* margin: 1em; */
margin: auto;
}
#button_characteres{
/* margin: 2em; */
margin-left: 25%; /*cambio */
padding: 0.5em 1em;
font-size: 15px;
}
 #screen1{
    grid-template-columns: repeat(3, 33%);
    margin: 0;
    width: 100%;
 }
 #screen1 div img {
    padding: 0.5em;
    width: 5em;
    height: 5em;
}
span{
    font-size: 13px;
}

#nav{
    width: 45%;
    padding: 15px;
}
#bottons_navegation  li{
    width: 150px;
}
#bottons_navegation  li  a{
    padding: 5px 5px;
    height: 12px;
    font-size: 12px;
    border: 1px solid darkcyan ;
}
.control{
    width: 30px;
    height: 30px;
    padding: 0.4em;
}
#caja_curious{
    font-size: 18px;
    /* padding: 3em 4em 4em 2em; */
    padding: 60px;
    margin: 7em 0em;
    width: 200px;
}
#unfold_alphabet li a{
    display: block;
    color: white;
    background: darkcyan;
    /* width: 73%; */
    border: 1px solid black;
}
#unfold_species li a {
    display: block;
    color: white;
    background: darkcyan;
    /* width: 73%; */
    border: 1px solid black;
}
#bottons_navegation  li  a:hover{
    opacity: 1 ;
}
}



/* medida para tablet */
@media screen and (min-width: 577px) and (max-width: 768px){
    #page_start{
        grid-template-columns: 100%;
        /* border: 1px solid salmon; */
    }
    #titulo{
        border-radius: 0;
        margin: 0.06em 12em;
        width: 60%;
        height: 1%;
        /* display: block; */
        display: grid;
    }
    #img_start{
        width: 30em;
        height: 30em;
        margin: 10px 45px;
    }
    #p_intro{
        font-size: 30px;
        width: 20em;
        height: 6em ;
        padding: 0;
        /* border: 1px solid salmon; */
    }
    #nav{
        font-size: 20px;
        width: 100%;
        margin: 0 2em;
    }
    /* #bottons_navegation > li > a{
        padding: 0.93em 5.31em;
        font-size: 20px;  */
        /* margin: 0; */
    /* } */
    /* 
    #bottons_navegation li ul{
    
        min-width: 140px;
    } */
    #bottons_navegation li ul {
        min-width: 285px;
    }
    #screen1{
        grid-template-columns: repeat(4, 25%);
        margin: 0;
        width: 100%;
     }
     #screen1 div img {
        padding: 0.5em;
        width: 9em;
        height: 9em;
    }
    span{
        font-size: 20px;
    }
    #button_characteres{
        margin-left: 5em;
        font-size: 25px;
    }
}

/* medida para laptop */
@media screen and (min-width: 769px) and (max-width: 992px){
}