html, body {
	background-image: url(https://images5.alphacoders.com/339/thumb-1920-339227.jpg);
	background-repeat: no-repeat;
    background-position: center;
	width: 100%;
	height: 100%;
	display:grid;
	flex-direction: column;
	background-size: cover;
	
}

#logoHomePage{
	width: 500px;
	margin-top: 30px;

}
#mesajeHome{
	color:#f7d081;
	margin-right: 140px;
	text-align: center;
	font-family: 'High Tower Text';
	font-size: 35px;
	
}

#welcome{
	margin-top: 350px;
	margin-left: 1380px;
	width: 120px;
	height: 50px;
	background-image: url(https://image.shutterstock.com/image-illustration/brushed-gold-metal-background-texture-260nw-779522356.jpg);
	border-radius: 10px;
	font-family: 'High Tower Text';
	font-weight: bold;
	overflow: hidden;    
	

}
#welcome:hover{
	transition: 0.2s;
	box-shadow: 0 0 50px #f7d081, 0 0 80px #f7d081, 0 0 100px #f7d081;
}



#pag2{
	background-image: url(https://i.pinimg.com/originals/1f/1c/93/1f1c93e42c1c2cac80e0965d11dcd5e8.gif);
	display:none;
	width: 100%;
	height: 100%;
	
}

.div#pag2{
	display: flex;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
		
}
img#logo{
	height: 30%;
	width: 30%;
	padding-top: 30px;	
	margin-left: 90px;

}

/* estilo seccion buscador*/
button#searchButton{
	padding-top: 0px;
	overflow: hidden;
	border-radius: 10px;
	height: 30px;
	width: 60px;
	background-image: url(https://image.shutterstock.com/image-illustration/brushed-gold-metal-background-texture-260nw-779522356.jpg);
	
}

button#searchButton:hover{
	transition: 0.2s;
	box-shadow: 0 0 50px #f7d081, 0 0 80px #f7d081, 0 0 100px #f7d081;
	
}
input#seeker{
	height: 30px;
	width: 180px;
	border-radius: 10px;


}
.buscador{
	padding-right: 0px;
	margin-right: 100px;
	
}


article{
	padding: 20px;
}


/* estilo para selectores*/
#filterButtons {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  transition: 0.2s;
}
#filterButtons select {
  width: 20%;
  padding: 8px 15px;
  color: rgba(15, 13, 4, 0.975);
  background-color: #f7d081;
  background-image: url(https://image.shutterstock.com/image-illustration/brushed-gold-metal-background-texture-260nw-779522356.jpg);
  border: 3px solid #ddc74c;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-family: 'Supermercado One', cursive;
  font-weight: bold;

 
}
section#filterButtons{
	padding: 30px;
}


.containerCard{
	align-items: center;
    display: grid;
	max-width:1200px;
	margin: auto;
	margin-top:100px;
	perspective: 1000px;
    grid-template-columns: repeat(4, 1fr);
}

.containerFather:hover .card{ 
        transform:rotateY(180deg);        
	
}

 .card{
	width: 150px;
	height: 200px;
	background: red;
	position: relative;
	transform-style: preserve-3d;
	transition: all 600ms;
	border-radius: 20px;
	text-align: center;
    font-family: 'Supermercado One', cursive;
  
 }
        
.cardFront,
.cardBack{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	border-radius: 20px;
	
}

.cardFront{
	background-size: cover;
	background-position: center;
 
}

.cardBack{
	transform: rotateY(180deg);
	background: blue;

}



.bodyCardFront{
	width: 100%;
	 height: 100%;
	 text-align: center;
	 padding: 40px;
	 display: flex;
	 justify-content: center;
	 align-items: center;

} 
.bodyCardBack{
	text-align: center;

}       
 /*boton inicio*/
.btnInicio {
  font-family: 'Supermercado One', cursive;  
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  margin: 80px 700px;
  padding: 10px 15px;  
  color: black;
  overflow: hidden;
  font-weight: bold;
  background-image: url(https://image.shutterstock.com/image-illustration/brushed-gold-metal-background-texture-260nw-779522356.jpg);

  
}
.btnInicio:hover {
	transition: 0.2s;
	box-shadow: 0 0 50px #f7d081, 0 0 80px #f7d081, 0 0 100px #f7d081;
}
