:root {
  --general-text: 'IBM Plex Sans Thai', sans-serif;
  --titles-text: 'Bubblegum Sans', cursive;
  --welcome-text: 'Henny Penny', cursive;

  --background-color: #151314;
  --background-color-variation: #623914;
  --enfasis-color: #FFC857;
  --enfasis-color-variation: #FFE9D4;
  --primary-color: #4D5466;
  --primary-color-variation: #CDCDCD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1618944913480-b67ee16d7b77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  background-color: black;
}

.content-welcome-page{
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.content-title-btn-welcome{
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.content-title-welcome-page{
    font-size: 60px;
    font-family: var(--welcome-text);
    
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 54px;
}

.content-btn-welcome-page{
  width: 39%;
  display: flex;
  justify-content: flex-end;

}

.title-welcome-page{
  font-size: var(--welcome-text);
  color: #FFFFFF;

}

.btn-start-welcome-page{
  background-color:var(--enfasis-color);
  /* box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5); */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  /* position: fixed; */
  /* bottom: 24px;
  right: 24px; */
  font-weight: bold;
  color:var(--background-color-variation);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;

  transform: rotate(0);
  transition: .3s ease;

}

.btn-start-welcome-page:hover{
  transform: rotate(224deg);
  background-color: #623914;
  color: #FFE9D4;
}

.header-main-page {
  width: 100vw;
  height: 15rem;
  display: none;
}

nav {
  display: flex;
  justify-content: flex-end;

  width: 100vw;
  height: 100%;
}

ul {
  display: flex;
  justify-content: flex-end;

  width: 100vw;
  height: 100%;
}

li {
  list-style: none;
}



.hidden-btn-order{
 display: none; 
}


.hidden-btn-filter{
 display: none; 
}


.button-modify-data {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18.5rem;
  height: 6rem;
  margin-top: 4rem;
  margin-right: 3rem;

  font-family: var(--general-text);
  font-size: 2.8rem;
  color: white;

  background-color: var(--primary-color);

}

.container-characters-list-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;

  width: 100vw;
  padding: 0rem 7rem;
}

.hidden{
  display: none;
}

.newNodeFigure-list-class {
  display: flex;

  width: 100%;
  height: 20rem;
  border: solid 0.35rem white;
  border-radius: 3rem;
  padding: 2rem;

  background-color: transparent;
}

.newNodeImage-list-class {
  width: auto;
  height: 100%;

  border: 0;
  border-radius: 50%;
  margin-left: 4rem;
}

.newNodeFigCaption-list-class {
  display: flex;
  align-items: center;

  width: 80%;
  margin-left: 3rem;

  font-family: var(--titles-text);
  font-size: 5rem;
  color: white;
}

.container-characters-card{
  display: none;
}
