*{
    margin: 0;
    padding: 0;
    }

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
}

#title-header{
    border-radius: 0;
    margin: 0.06em 25em;
    width: 100%;
    height: 70%;
    display: block;
    display: grid;
}
#page-start{
    display: grid;
    grid-template-columns: 60% auto;
    color: white;
    width: 68.75em;
    height: 28.75em;
    margin: 0 5em;
}
#img-start{
    border-radius: 3em;
    width: 25.62em;
    height: 25.62em;
    text-align: center;
    justify-content: center;
    padding: 0.6em;
    margin: 1.87em 6.85em;
}
#p-intro{
    font-size: x-large;
    margin-top: 1em;
    padding: 2em 2.5em 0 0;
    text-align: center;
    justify-content: center;
}
#button-characteres, #button-main-characteres{
    background: #f9bf1e;
    color: black;
    margin: 3em 2em 1em 3em;
    padding: 0.62em 3em;
    text-align: center;
    justify-content: center;
    border-radius: 5em;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    width: 14em;
}
#button-characteres:hover, #button-main-characteres:hover{
background-color: #E4D33E;
color: brown;
transition: 0.1s;
opacity: 0.8;
}
#button-main-characteres{
    margin: 0em 2em 1em 3em;
    padding: 0.62em 1em;
}
#nav{
    margin: auto;
    width: 650px;
    padding-bottom: 150px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
 ul{
    list-style: none;
}
#bottons-navegation  li{
    float: left;
    min-width: 120px;
}
#bottons-navegation  li  a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    text-align: center;
    border: 5px solid darkcyan;
}
#bottons-navegation  li  a:hover{
    background-color: #62A4AB;
    opacity: 0.8 ;
    color: white;
    transition: 0.3s;
}
#bottons-navegation li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
#bottons-navegation li:hover ul{
    display: block;
}
#unfold-alphabet li{
    display: block;
    width: 73%;
}
#unfold-species li {
    display: block;
    width: 60%;
}

#screen-all-characteres {
    width: 90%;
    margin: auto;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
img{
    border-radius: 50%;
    width: 15vw;
    height: 25vh;
}
span{
    display: flex;
    justify-content: center;
    padding: 0em 0.31em 0.93em 0em;
    color: beige;
    text-align: center;
}
.control{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    object-fit: cover;
    padding: 0.62em;
    margin: 0.62em;
}
img#rigth {
    position: absolute;
    background: white;
    float: right;
    right: 5%;
}
img#left {
    position: absolute;
    background: white;
    float: left;
    left: 5%;
}
#rigth:hover, #left:hover {
    background-color: #62A4AB;
    transition: 0.1s;
}
#curious-box{
    background-image: url(portal.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4em 4em;
    font-size: 40px;
    text-align: center;
    width: 12em;
    height: 3em;
    font-weight: bolder;
    opacity: 0.9;
    text-shadow: 1px 1px 5px white;
    margin: 1em auto 0 auto;
}
#screen-main-characteres{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 90%;
   margin: auto;
   padding: 3%;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    flex-wrap: wrap;
}
.card .face {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 10px;
overflow: hidden;
transition: .5s;
}
.card #front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px cyan;
}
.card #front img {
    border-radius: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card #front span{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    font-weight:bolder;
    background: rgba(0, 0,0, .4);
    text-align: center;
    font-size: 20px;
}
.card #back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    color: white;
    display: absolute;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px cyan;
}
.card #back span{
    padding-top: 5em;
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
}

.card:hover #front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover #back{
    transform: perspective(600px) rotateY(360deg);
}



/* medida para celular */
@media screen and (max-width: 576px){
    #page-start{
        display: grid;
        grid-template-columns: 90%;
        width: 0;
        justify-items: center;
        margin: 0 10em
    }
#img-start{
    margin: 2em 2em 0.5em 2em;
    padding: 2em;
    width: 12em;
    height: 12em;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
}
#title-header{
height: 100%;
width: 70%;
margin: 0; 
}
#p-intro{
font-size: 1em;
width: 12em;
text-align: justify;
padding: 0;
margin: auto;
}
#button-characteres, #button-main-characteres {
padding: 0.5em 0em;
font-size: 15px;
width: 12em;
}

 #screen-all-characteres{
    grid-template-columns: repeat(3, 33%);
    margin: 0;
    width: 100%;
 }
 #screen-all-characteres div img {
    padding: 0.5em;
    width: 5em;
    height: 5em;
}
span{
    font-size: 13px;
}

#nav{
    width: 45%;
    padding: 15px;
}
#bottons-navegation  li{
    width: 150px;
}
#bottons-navegation  li  a{
    padding: 5px 5px;
    height: 12px;
    font-size: 12px;
    border: 1px solid darkcyan ;
}
.control{
    width: 30px;
    height: 30px;
    padding: 0.4em;
}
#curious-box{
    font-size: 18px;
    padding: 60px;
    margin: 7em 0em;
    width: 200px;
}
#unfold-alphabet li a{
    display: block;
    color: white;
    background: darkcyan;
    border: 1px solid black;
}
#unfold-species li a {
    display: block;
    color: white;
    background: darkcyan;
    border: 1px solid black;
}
#bottons-navegation  li  a:hover{
    opacity: 1 ;
}

#screen-main-characteres{
    padding: 7%;
}
.card{
    width: 100px;
    height: 125px;
}
.card #front span{
    height: 18px;
    font-size: 15px;
}
.card #back span{
    padding-top: 3em;
    font-size: 10px;
}

}

/* medida para tablet */
@media screen and (min-width: 577px) and (max-width: 768px){
    #page-start{
        grid-template-columns: 90%;
    }
    #title-header{
        border-radius: 0;
        margin: 0.06em 12em;
        width: 60%;
        height: 1%;
        display: grid;
    }
    #img-start{
        width: 30em;
        height: 30em;
        margin: 10px 45px;
    }
    #p-intro{
        font-size: 30px;
        width: 20em;
        height: 6em ;
        padding: 0;
    }
    #nav{
        font-size: 20px;
        width: 100%;
        margin: 0 2em;
    }
    #bottons-navegation li ul {
        min-width: 285px;
    }
    #screen-all-characteres{
        grid-template-columns: repeat(4, 25%);
        margin: 0;
        width: 100%;
     }
     #screen-all-characteres div img {
        padding: 0.5em;
        width: 9em;
        height: 9em;
    }
    span{
        font-size: 20px;
    }
    #button-characteres, #button-main-characteres{
        font-size: 25px;
        margin: 1em 3em 0em 5em;
    }
    }
